# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

src/main/resources/assets/minecraft

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo